@font-face {
    font-family: Tanha;
    src: url("../fonts/tanha-font-v0.9/Tanha.eot") format("eot");
    src: url("../fonts/tanha-font-v0.9/Tanha.ttf") format("ttf"), url("../fonts/tanha-font-v0.9/Tanha.woff") format("woff");
    font-weight: normal;
}

* {
    font-family: Tanha;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

body {
    min-height: 100vh;
    background-image:
        repeating-linear-gradient(305deg,
            rgba(231, 131, 177, 0) 0,
            #40ccde 75vmax,
            #40ccde calc(75vmax - 5px),
            #40ccde 75vmax),
        repeating-linear-gradient(220deg,
            rgba(231, 131, 177, 0) 0,
            #9959cf 75vmax,
            #9959cf calc(75vmax - 5px),
            #9959cf 75vmax);

    background-color: #e783b1;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 50%;
}

#Message {
    color: #40407a;
    font-weight: bold;
    font-size: 30px;
    width: 80%;
    height: 5vh;
    text-align: center;
    text-shadow: 0 0 20px black;
}

.new-game {
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.new-game>p {
    cursor: pointer;
    visibility: hidden;
    background: -webkit-linear-gradient(left,red,darkorange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 0 25px gray;
}

.score {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score>div {
    font-size: 15px;
    border-radius: 2px;
    border: 3px solid black;
    width: 130px;
    text-align: center;
    padding: 10px 0;
}

.score>div>span {
    font-weight: bold;
}

.btn-computer {
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20vh;
}

#rock-computer,
#paper-computer,
#scissor-computer {
    visibility: hidden;
}

.btn-computer>.btest {
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
}

.btest>.computer {
    font-size: 25px;
    position: absolute;
    top: 0;
}

.computer>button {
    color: #773892;
    text-shadow: 0 0 5px lightpink;
    background-color: transparent;
    font-size: 45px;
    border: 0px;
    width: 85px;
}

.player {
    margin: 0 25px;
    font-size: 20px;
    text-align: center;
}

.player>button {
    color: black;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    padding: 5px;
    border: 5px solid #e67e22;
    text-shadow: 0 0 5px #e67e22;
    width: 85px;
    border-radius: 5px;
    transition: all 1s;
}

.computer>p {
    text-shadow: 0 0 10px #8e44ad;
    font-weight: bold;
}

.player>p {
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 0 0 10px #e67e22;
    transition: all 1s;
}
.player:hover p{
    color: #e67e22;
    text-shadow: 0 0 10px white;
}
.player:hover button{
    border-radius: 35%;
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 5px white;
    color: #e67e22;
}

@media only screen and (max-width: 950px) {

    .main,
    #Message,
    .score,
    .btn-computer,
    .btns-player {
        width: 100%;
    }

    #Message {
        font-size: 22px;
    }

    .btn-computer {
        margin: 10px 0 60px 0;
    }

    .player {
        margin: 0 15px;
    }

    .player>button {
        width: 70px;
    }
}